:root {
  --primary: orange;
  --secondary: gray;
  --white: white;
  --black: black;
  --h-size: clamp(2rem, 5vw, 3rem);
  --p-size: clamp(0.5rem, 4vw, 1.2rem);
  --padding-inline: 7vw;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: var(--h-size);
  margin: 0;
  padding: 0;
  color: var(--primary);
}
h1::after {
  content: " ";
  background-color: var(--primary);
  height: 5px;
  width: 100%;
  position: relative;
}
p {
  font-size: var(--p-size);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
.hero-section {
  padding-inline: var(--padding-inline);
  background-image: url("../media/1.jpg");
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}
.hero-section::after {
  content: "''";
  height: 85vh;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-section-card {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding: 20px;
  z-index: 10;
}
.hero-text {
  width: 50%;
  margin: auto;
  color: var(--white);
}
.hero-section-card > a {
  z-index: 1000000;
}

.about-section {
  height: 100vh;
  display: flex;
}
.about-contact-btn {
  margin: auto;
}
.left-about {
  flex: 1;
  display: grid;
  place-items: center;
}
.side-image {
  height: 75%;
  width: 70%;
  background-position: center;
  background-size: cover;
  border: solid 10px var(--secondary);
  border-radius: 5px;
  box-shadow: 20px black;
}
.one {
  background-image: url(../media/2.jpg);
}
.two {
  background-image: url(../media/3.jpg);
}
.three {
  background-image: url(../media/4.jpg);
}
.right-about {
  flex: 1;
  display: grid;
  place-items: center;
}
.right-about-card {
  display: grid;
  width: 75%;
  row-gap: 10px;
  text-align: justify;
}
.about-point {
  display: flex;
  column-gap: 20px;
  height: auto;
  align-items: center;
}
.listing {
  min-height: 100%;
  display: grid;
  align-items: top;
}
.listing > img {
  /* height: 100%; */
  display: grid;
  vertical-align: top;
}
.services {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.ser-right {
  display: grid;
  place-items: center;
}
.ser-left {
  display: grid;
  place-items: center;
}
.ser-left-card {
  row-gap: 10px;
  display: grid;
  width: 75%;
  text-align: justify;
}
.why-choose-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../media/6.jpg);
  background-position: bottom;
  background-size: cover;
}
.why-choose-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: space-evenly;
  margin-inline: 20%;
  padding-inline: 5%;
  transform: translateY(10px);
  border-radius: 5px;
  gap: 0px;
  height: 100%;
  text-align: center;
}
.why-choose-statusbar {
  display: grid;
  place-items: center;
}
.status {
  flex: 1;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  padding: 20px;
  justify-content: space-between;
  width: 70vw;
  border-radius: 10px;
  height: 25vh;
  column-gap: 10px;
}
.status-card {
  display: grid;
  border-radius: 10px;
  place-items: center;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 0.904) 0.2%,
    rgba(0, 0, 0, 0.829) 100.2%
  );
}
.status-card::after {
  content: "";
  position: relative;
  inset: 0;
  height: 10px;
  background-color: var(--primary);
  width: 100%;
  bottom: 0;
  border-radius: 0 0 5px 5px;
}
.status-numbers {
  font-size: var(--h-size);
  color: var(--primary);
  font-weight: bold;
  text-align: center;
}
.status-name {
  font-size: var(--p-size);
  text-transform: uppercase;
  color: var(--white);
}
.how-we-help {
  height: 100vh;
  display: flex;
}
.right-help {
  flex: 1;
  display: grid;
  place-items: center;
}
.left-help {
  flex: 1;
  display: grid;
  place-items: center;
}
.left-help-card {
  display: grid;
  width: 75%;
  row-gap: 20px;
}
.left-help-card > p {
  text-align: justify;
}
.our-mission {
  display: flex;
  column-gap: 20px;
}
.icon {
  flex: 20%;
  display: grid;
  justify-content: center;
  /* place-items: center; */
}
svg {
  fill: var(--primary);
}

.icon-text {
  flex: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.icon-text > h2 {
  margin: 0;
  padding: 0;
}
.banner {
  height: 50vh;
  margin-top: 10vh;
  background-position-y: 80%;
  background-size: cover;
  background-image: url(../media/7.jpg);
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--white);
  z-index: 1;
}
.banner::before {
  content: "";
  inset: 0;
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
}
.banner-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  z-index: 19999;
}
.banner-card > p {
  font-size: 30px;
}
.contact-section {
  height: 100vh;
  display: flex;
}
.right-contact {
  flex: 1;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}
.left-contact {
  flex: 1;
  display: grid;
  place-items: center;
}
.left-contact-text {
  width: 75%;
  display: grid;
  row-gap: 20px;
}
.contact-means {
  display: flex;
  column-gap: 20px;
}
.mail {
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s;
}
.mail:hover {
  font-size: 21.5px;
}
footer {
  background-color: var(--secondary);
  height: 15vh;
  color: var(--white);
  display: grid;
  place-items: center;
  text-align: center;
}
.form-heading {
  color: white;
  text-align: center;
}
.signup-with-us {
  height: 100vh;
  background-image: url(../media/5.jpg);
  background-size: cover;
  background-position: bottom;
  display: grid;
  place-items: center;
  position: relative;
  color: var(--white);
}
.signup-with-us::after {
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.425);
}
.zindex {
  z-index: 1000000000000;
}
.signup-card {
  width: 50%;
  height: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  z-index: 10000;
}
.docs {
  text-align: center;
  display: grid;
  width: 50%;
  row-gap: 10px;
}
.docs > p {
  width: 100%;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px;
}
.signup-with-us > p {
  width: 50%;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .hero-text {
    width: 100%;
  }
  .about-section {
    display: grid;
    height: 200vh;
  }
  .right-about {
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0;
    position: relative;
  }
  .right-about::after {
    content: "";
    inset: 0;
    background-color: var(--primary);
    position: absolute;
    top: 100%;
    margin: auto;
    width: 50%;
    height: 5px;
    border-radius: 5px;
  }
  .right-about-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
    width: 75%;
    translate: 0 -25px;
  }
  .left-about {
    height: 100vh;
  }
  .side-image {
    width: 75%;
  }
  .status {
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    translate: 0 -75px;
  }
  .status-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    width: 30vw;
  }
  .status-numbers {
    font-size: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .status-name {
    flex: 1;
    font-size: 10px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  .why-choose-text {
    padding-inline: 10%;
    justify-content: space-evenly;
    margin: 20% 5%;
  }

  .how-we-help {
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  .contact-section {
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  .right-contact {
    height: auto;
  }
  .banner-card > p {
    font-size: 20px;
  }
  .services {
    height: 200vh;
    display: grid;
    grid-template-columns: 100%;
  }
  .ser-left {
    height: 100vh;
  }
  .ser-left > h1 {
    text-align: left;
  }
  .ser-right {
    height: 100vh;
  }
  .signup-card,
  .signup-with-us > p {
    width: 90%;
    text-align: center;
  }
}
