.top-btn {
  height: 30px;
  width: 30px;
  background-color: var(--primary);
  position: fixed;
  bottom: 25px;
  right: 50px;
  display: grid;
  place-items: center;
  fill: var(--white);
  border-radius: 50%;
  border: 1px var(--secondary) solid;
}
